@mixin btn-reset {
  border: none;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
}

@mixin style-reset {
  padding: 0;
  margin: 0;
}

@mixin list-reset {
  @include style-reset;
  list-style-type: none;
}

@mixin margin-auto {
  margin-right: auto;
  margin-left: auto;
}

@mixin animation {
  transition: all 0.2s ease;
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;

  &:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

@mixin heading {
  font-family: $font-family-secondary;
  font-size: 34px;
  font-weight: $bold;
  line-height: 44px;
  text-align: center;
  color: $text-black;
}

@mixin link {
  font-family: $font-family-primary;
  font-size: $font-size;
  font-weight: $medium;
  line-height: 24px;
  text-align: center;
  color: $text-black;
  border-bottom: 1px solid $primary-brown;

  &:hover,
  &:focus {
    @include animation;

    color: $primary-brown;
    border-color: $text-black;
  }

  &:active {
    transition: all 0.2s ease;
    color: $text-black;
  }
}
