.article {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: start;
  gap: 30px;

  @include tablet {
    @include margin-auto;

    display: flex;
    flex-direction: column;
    width: 100%;
    gap: normal;
  }
}

.article__item {
  position: relative;
  display: flex;

  @include tablet {
    width: 100%;
    margin-bottom: 50px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include mobile {
    flex-direction: column;
    margin-bottom: 40px;
  }

  &--big {
    grid-row: 1/-1;
    grid-column: 2/-2;
  }
}

.article__item picture {
  line-height: 0;
  width: 50%;

  @include mobile {
    width: 100%;
  }
}

.article__item img {
  display: block; //для правок
  height: 100%; //для правок
  width: 100%; //для правок
  object-fit: cover; //для правок

  @include tablet {
    width: 100%;
    height: 300px;
  }

  @include mobile {
    height: 257px;
  }
}

.article__item--big picture {
  width: 100%;
}

.article__item--big img {
  object-fit: cover;
  height: 630px;

  @include tablet {
    height: 300px;
  }

  @include mobile {
    height: 257px;
  }
}

.article__item:nth-child(2n) .article__wrapper {
  order: -1;

  @include tablet {
    padding-right: 84px;
    padding-left: 84px;
  }

  @include mobile {
    order: 1;
    padding-right: 78px;
    padding-left: 78px;
  }
}

.article__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  // width: 285px;
  width: 50%;
  height: 300px;
  padding-top: 64px;
  padding-right: 61px;
  padding-bottom: 47px;
  padding-left: 61px;
  background-color: $bg-gray;

  @media (max-width: 1252px) {
    padding-top: 38px;
    padding-right: 35px;
    padding-bottom: 30px;
    padding-left: 35px;
  }

  @include tablet {
    height: auto;
    padding-top: 67px;
    padding-right: 64px;
    padding-left: 64px;
  }

  @include mobile {
    width: 100%;
    min-height: auto;
    padding-top: 45px;
    padding-right: 60px;
    padding-bottom: 49px;
    padding-left: 62px;
  }

  &--big {
    position: absolute;
    bottom: 0;
    right: 0;

    @include tablet {
      position: static;
      padding-top: 86px;
    }

    @include mobile {
      position: static;
      padding-top: 62px;
      padding-bottom: 66px;
    }
  }
}

.article__wrapper time {
  margin-bottom: 14px;
  font-size: 14px;
  font-weight: $medium;
  line-height: 18px;
  text-align: center;
  color: $text-gray;
}

.article__heading {
  @include style-reset;

  margin-bottom: 39px;
  font-family: $font-family-secondary;
  font-size: 26px;
  font-weight: $semi-bold;
  line-height: 33.8px;
  text-align: center;

  @include tablet {
    margin-bottom: 36px;
  }
}

.article__link {
  @include link;

  display: block;

  @include mobile {
    line-height: 25px;
  }
}
