.blog {
  width: 100%;
}

.blog__container {
  @include margin-auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: $max-width;
  padding-top: 89px;
  padding-right: $padding-desktop;
  padding-bottom: 60px;
  padding-left: $padding-desktop;

  @include tablet {
    padding-top: 15px;
    padding-right: $padding-tablet;
    padding-bottom: 40px;
    padding-left: $padding-tablet;
  }

  @include mobile {
    padding-top: 42px;
    padding-right: $padding-mobile;
    padding-bottom: 35px;
    padding-left: $padding-mobile;
  }
}

.blog__heading {
  @include style-reset;
  @include heading;

  margin-bottom: 19px;
}

.blog__link {
  @include style-reset;
  @include link;

  margin-bottom: 62px;

  @include mobile {
    margin-bottom: 51px;
  }
}
