.btn {
  @include btn-reset;
}

.btn__search {
  position: absolute;
  top: 4px;
  left: 10px;

  @include tablet {
    top: 12px;
    left: 13px;
  }
}

.btn-primary {
  width: 100%;
  padding-top: 28px;
  padding-bottom: 28px;
  background-color: $primary-brown;
  color: $white;
  font-family: $font-family-primary;
  font-size: $font-size;
  font-weight: $medium;
  line-height: $line-height;
  text-align: center;

  &:hover {
    cursor: pointer;
    border: 1px solid $primary-brown;
    color: $text-black;
    background-color: $white;
  }

  &--white {
    border: 1px solid $primary-brown;
    color: $text-black;
    background-color: $white;

    &:hover {
      cursor: pointer;
      background-color: $primary-brown;
      color: $white;
      border: none;
    }
  }
}

.btn__slider {
  @include btn-reset;

  height: 20px;
  font-family: $font-family-primary;
  font-size: $font-size;
  font-weight: $medium;
  line-height: $line-height;

  &--prev {
    order: 0;
  }

  &--next {
    order: 2;
  }

  &--left {
    position: absolute;
    top: 177px;
    left: $padding-desktop;
  }

  &--right {
    position: absolute;
    top: 177px;
    right: $padding-desktop;
  }
}

.btn__pagination {
  @include btn-reset;

  padding: 6px;
  font-family: $font-family-primary;
  font-weight: $medium;
  font-size: $font-size;
  line-height: $line-height;
  text-align: center;
  color: $text-gray;

  &--active {
    color: $text-black;
  }
}
