.catalog {
  width: 100%;
}

.catalog__container {
  @include margin-auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: $max-width;
  padding-top: 80px;
  padding-right: $padding-desktop;
  padding-bottom: 69px;
  padding-left: $padding-desktop;

  @include tablet {
    flex-direction: column;
    padding-top: 51px;
    padding-right: $padding-tablet;
    padding-bottom: 69px;
    padding-left: $padding-tablet;
  }

  @include mobile {
    padding-top: 40px;
    padding-right: $padding-mobile;
    padding-bottom: 60px;
    padding-left: $padding-mobile;
  }
}

.catalog__btn {
  display: none;

  @include tablet {
    display: block;
    margin-bottom: 50px;
  }

  @include mobile {
    margin-bottom: 40px;
  }
}

.catalog__wrapper {
  width: 74.5%;

  @include tablet {
    width: 100%;
  }
}

.catalog__list {
  @include list-reset;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 21px;

  @include tablet {
    margin-bottom: 32px;
  }

  @include mobile {
    margin-bottom: 7px;
  }
}

.catalog__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 31%;
  margin-right: 20px;
  margin-bottom: 39px;

  &:nth-child(3n) {
    margin-right: 0;

    @include mobile {
      margin-right: 23px;
    }
  }

  @include tablet {
    margin-right: 23px;
    margin-bottom: 35px;
  }

  @include mobile {
    width: 46%;
    margin-right: 6.67vw;
    margin-bottom: 26px;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

.catalog__link {
  width: 100%;
  margin-bottom: 15px;

  &:hover,
  &:focus {
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    transition: filter 0.5s ease;
  }

  @include tablet {
    margin-bottom: 3px;
  }

  @include mobile {

    margin-bottom: 0;
  }
}

.catalog__link img {
  width: 100%;

  @include tablet {
    margin-bottom: 10px;
  }

  @include mobile {
    margin-bottom: 13px;
  }
}

.catalog__text {
  @include style-reset;

  margin-bottom: 6px;
  font-weight: $medium;
  font-size: $font-size;
  line-height: $line-height;
  text-align: center;
  color: $text-black;
}

.catalog__price {
  display: block;
  text-align: center;
  color: $text-black;
  font-weight: $bold;
  font-size: 14px;
  line-height: 18px;
}

.catalog__pagination-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.catalog__pagination {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  order: 1;
  align-items: center;
  margin-right: 31px;

  @include tablet {
    margin-right: 0;
  }
}

.catalog__btn-slider {
  @include mobile {
    display: none;
  }
}
