.faq {
  width: 100%;
}

.faq__container {
  @include margin-auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: $max-width;
  padding-top: 60px;
  padding-right: 198px;
  padding-bottom: 60px;
  padding-left: 198px;

  @include tablet {
    padding-top: 31px;
    padding-right: $padding-tablet;
    padding-bottom: 31px;
    padding-left: $padding-tablet;
  }

  @include mobile {
    padding-top: 24px;
    padding-right: $padding-mobile;
    padding-bottom: 35px;
    padding-left: $padding-mobile;
  }
}

.faq__heading {
  @include style-reset;
  @include heading;

  margin-bottom: 47px;
  letter-spacing: 0.03em;

  @include mobile {
    margin-bottom: 28px;
  }
}

.faq__list {
  @include list-reset;

  width: 100%;
}

.faq__list-item {
  position: relative;
  border: 1px solid $primary-brown;
  padding-top: 43px;
  padding-right: 28.7vw;
  padding-bottom: 33px;
  padding-left: 44px;

  @include tablet {
    padding-top: 43px;
    padding-right: 10.42vw;
    padding-bottom: 18px;
    padding-left: 48px;
  }

  @include mobile {
    padding-top: 16px;
    padding-right: 16.56vw;
    padding-bottom: 7px;
    padding-left: 24px;
  }

  &--active {
    padding-bottom: 19px;

    @include tablet {
      padding-bottom: 24px;
    }

    @include mobile {
      padding-bottom: 19px;
    }
  }

  &:not(:first-child) {
    border-top: none;
  }
}

.faq__list-heading {
  @include style-reset;

  font-size: 18px;
  font-weight: $medium;
  line-height: 23px;

  margin-bottom: 8px;

  @include tablet {
    margin-bottom: 17px;
  }

  @include mobile {
    font-size: $font-size;
    line-height: 22px;
    margin-bottom: 14px;
  }
}

.faq__panel {
  @include style-reset;
  display: none;

  max-height: 0; //для нового аккордеона
  overflow: hidden; //для нового аккордеона
  transition: max-height 0.2s ease-out; //для нового аккордеона
  margin-bottom: 5px;
  margin-left: 6px;

  @include tablet {
    margin-bottom: 9px;
    margin-left: 0;
  }

  @include mobile {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
  }
}

.active + .faq__panel {
  @include tablet {
    margin-top: 26px;
    margin-bottom: 27px;
  }

  @include mobile {
    margin-top: 13px;
    margin-bottom: 11px;
  }
}

.faq__btn {
  @include btn-reset;

  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.faq__btn svg {
  position: absolute;
  top: 52px;
  right: 48px;
  fill: transparent;
  color: $primary-brown;

  @include tablet {
    width: 25px;
    height: 18px;
    top: 45px;
    right: 48px;
  }

  @include mobile {
    width: 22px;
    height: 16px;
    top: 21px;
    right: 23px;
  }
}

.active .faq__btn-icon {
  @include animation;
  transform: rotate(180deg);
}

.faq__list-item--active .faq__panel {
  display: block;
}

.js-accordion--nojs .faq__panel {
  display: block;
}
