.footer {
  width: 100%;
  background-color: $bg-black;
}

.footer__container {
  @include margin-auto;

  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  padding-right: $padding-desktop;
  padding-bottom: 100px;
  padding-left: $padding-desktop;

  @include tablet {
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 60px;
    padding-right: $padding-tablet;
    padding-bottom: 60px;
    padding-left: $padding-tablet;
  }

  @include mobile {
    padding-right: $padding-mobile;
    padding-left: $padding-mobile;
  }
}

.footer__feedback {
  display: flex;
  flex-direction: column;
  width: 42.7%;
  min-width: 412px;

  @include tablet {
    width: 82.6%;
    margin-right: auto;
    margin-bottom: 40px;
  }

  @include mobile {
    width: 100%;
    min-width: auto;
    margin-right: 0;
    margin-bottom: 50px;
  }
}

.footer__heading {
  @include style-reset;
  @include heading;

  margin-bottom: 25px;
  font-weight: $regular;
  letter-spacing: 3%;
  text-align: left;
  color: $white;

  @include mobile {
    padding-right: 65px;
    margin-bottom: 30px;
  }
}

.footer__text {
  @include style-reset;

  margin-bottom: 54px;
  font-size: $font-size;
  font-weight: $regular;
  line-height: $line-height;
  text-align: left;
  color: $text-gray;

  @include mobile {
    padding-right: 46px;
    margin-bottom: 52px;
  }
}

.footer__form {
  position: relative;
  width: 100%;
}

.footer__form input {
  width: 100%;
  position: relative;
  border: none;
  border-bottom: 1px solid $white;
  background-color: transparent;
  padding-top: 8px;
  padding-right: 103px;
  padding-bottom: 15px;

  &::placeholder {

    font-size: 14px;
    line-height: $line-height;
    color: $text-gray;
  }
}

.footer__btn {
  position: absolute;
  top: 8px;
  right: 0;
}

.footer__btn svg {
  fill: $white;
}

.footer__btn span {
  padding-right: 12px;
  font-size: $font-size;
  line-height: $line-height;
  color: $white;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
  width: 31.55%;
  min-width: 312px;

  @include tablet {
    min-width: 373px;
    margin-right: 87px;
  }

  @include mobile {
    flex-direction: column;
    margin-bottom: 50px;
  }
}

.footer__nav-list {
  @include list-reset;

  @include tablet {
    &:first-child {
      margin-right: 87px;
    }
  }

  @include mobile {
    margin-bottom: 50px;
  }
}

.footer__nav-item {
  margin-bottom: 30px;
}

.footer__nav-link {
  font-size: $font-size;
  font-weight: $medium;
  line-height: $line-height;
  color: $white;
}


.footer__social {
  min-width: 118px;
  width: 10%;

  @include tablet {
    margin-right: auto;
  }
}

.footer__social-list {
  @include list-reset;

  @include mobile {
    display: flex;
    justify-content: space-between;
  }
}

.footer__social-item {
  position: relative;
  padding-left: 32px;
  margin-bottom: 30px;

  @include mobile {
    padding-left: 0;
  }
}

.footer__social-link {

  display: block;
  font-size: $font-size;
  font-weight: $medium;
  line-height: $line-height;
  color: $white;
}

.footer__social-link svg {
  position: absolute;
  top: 2px;
  left: 2px;

  @include mobile {
    position: static;
    width: 20px;
    height: 20px;
  }
}

.footer__social-link span {
  @include mobile {
    display: none;
  }
}
