.form {
  position: relative;
  width: 35%;
  margin-top: 15px;

  @include tablet {
    display: none;
  }
}

.form input {
  width: 100%;
  padding-left: 39px;
  border: none;
  font-size: 14px;

  line-height: $line-height;
  color: $text-gray;

  &::placeholder {
    font-family: $font-family-primary;
    font-weight: $medium;
    font-size: 14px;
    color: $text-gray;
  }

  @include tablet {
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 21px;
  }
}
