.header {
  width: 100%;
  display: flex;
  flex-direction: column;

  &--open,
  &--nojs {
    @include tablet {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: block;
      background-color: $primary-brown;
    }
  }
}

.header--open + main,
.header--open ~ footer,
.header--nojs + main,
.header--nojs ~ footer {
  @include tablet {
    display: none;
  }
}

.header--open .header__logo-img,
.header--open .btn-img {
  color: $white;
}

.header__container {
  @include margin-auto;

  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: $max-width;
  padding-top: 30px;
  padding-right: $padding-desktop;
  padding-bottom: 8px;
  padding-left: $padding-desktop;

  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: $padding-tablet;
    padding-bottom: 24px;
    padding-left: $padding-tablet;
  }

  @include mobile {
    padding-top: 12px;
    padding-right: $padding-mobile;
    padding-bottom: 9px;
    padding-left: $padding-mobile;
  }
}

.header__container-bottom {
  padding-top: 5px;
  padding-bottom: 9px;
  border-top: 1px solid $gray-line;

  @include tablet {
    display: none;
  }
}

.header--close .header__container-bottom {
  @include tablet {
    display: none;
  }
}

.header--open .header__container-bottom,
.header--nojs .header__container-bottom {
  @include tablet {
    display: block;
    border-top: none;
  }
}

.header--open .header__form,
.header--nojs .header__form {
  display: block;
  width: 100%;
  order: 1;
}

.header__btn {
  display: none;

  @include tablet {
    display: block;
  }
}

.header__btn svg {
  pointer-events: none;
}

.header__logo {
  @include tablet {
    padding-left: 12px;
  }
}

.header__logo-img {
  color: $primary-brown;

  @include mobile {
    width: 52px;
  }
}

.header__logo-img:hover {
  @include animation;

  color: $text-black;
}

.header__logo-img:active {
  @include animation;

  color: $text-black;
  opacity: 0.5;
}
