.nav {
  @include margin-auto;

  max-width: $max-width;
  width: 100%;
  padding-right: $padding-desktop;
  padding-left: $padding-desktop;
}

.nav__list {
  @include list-reset;

  display: flex;
  justify-content: center;
  width: 100%;

  &--tablet {
    display: none;
  }
}

.nav__list-item {
  margin-right: 15px;

  &:last-child {
    margin-right: 0;
  }
}

.nav__list-link {
  display: block;
  padding: 10px;
  font-size: $font-size;
  line-height: 24px;
  font-weight: $medium;
  color: $text-black;
}
