.nav {
  @include margin-auto;

  max-width: $max-width;
  width: 100%;
  padding-right: $padding-desktop;
  padding-left: $padding-desktop;


  @include tablet {
    display: flex;
    flex-direction: column;
    padding-right: $padding-tablet;
    padding-left: $padding-tablet;
    border: none;
  }

  @include mobile {
    padding-right: $padding-mobile;
    padding-left: $padding-mobile;
  }
}

.nav__list {
  @include list-reset;

  display: flex;
  justify-content: center;
  width: 100%;
  padding-left: 12px;

  @include tablet {
    flex-direction: column;
    color: $white;
    margin-bottom: 39px;
  }

  &--tablet {
    display: none;

    @include tablet {
      display: block;
    }
  }
}

.nav__list-item {
  margin-right: 15px;

  &:last-child {
    margin-right: 0;
  }

  @include tablet {
    margin-right: 0;
    margin-bottom: 21px;
  }

  &--login {
    @include tablet {
      margin-top: 55px;
    }
  }
}

.nav__list-link {
  display: block;
  padding: 10px;
  padding-top: 18px;
  font-size: $font-size;
  line-height: 24px;
  font-weight: $medium;
  color: $text-black;

  @include tablet {
    padding: 0;
    font-size: 24px;
    line-height: 36px;
    color: $white;
  }

  &--bottom {
    font-size: 18px;
    font-weight: $medium;
    line-height: 23px;
    color: $text-overlay;
  }

  &--login {
    color: $white;
  }

  &:focus,
  &:hover {
    @include animation;

    color: $primary-brown;
    opacity: 0.7;
  }
}
