.product-card {
  width: 100%;
}

.product-card__container {
  @include margin-auto;

  display: flex;
  width: 100%;
  max-width: $max-width;
  padding-top: 70px;
  padding-right: $padding-desktop;
  padding-bottom: 60px;
  padding-left: $padding-desktop;

  @include tablet {
    padding-top: 40px;
    padding-right: $padding-tablet;
    padding-bottom: 40px;
    padding-left: $padding-tablet;
  }

  @include mobile {
    flex-direction: column;
    padding-top: 35px;
    padding-right: $padding-mobile;
    padding-bottom: 35px;
    padding-left: $padding-mobile;
  }
}

.product-card__images {
  @media (min-width: 1367px) {
    width: auto;
    margin-left: auto;
  }

  @include list-reset;
  width: 51.3%;
  max-height: 100%;
  display: grid;
  grid-template-areas: "small-1 big" "small-2 big" "small-3 big";
  grid-template-columns: 100px minmax(425px, 470px);
  grid-template-rows: repeat(auto-fill, 125px);
  gap: 30px;
  padding-top: 10px;
  margin-right: 100px;
  margin-left: 0;

  @media (max-width: 1250px) {
    margin-right: auto;
    gap: 30px 15px;
  }

  @include tablet {
    width: 47%;
    grid-template-areas: "big big big" "small-1 small-2 small-3";
    grid-template-rows: 286px 129px;
    grid-template-columns: repeat(3, minmax(97px, 135px));
    gap: 14px;
    margin-right: 40px;
  }

  @include mobile {
    position: relative;
    width: 100%;
    display: flex;
    padding-top: 0;
    margin-right: 0;
    margin-bottom: 36px;
  }

  &::after {
    @include mobile {
      content: "1 of 4";
      display: block;
      position: absolute;
      bottom: 11px;
      left: 50%;
      transform: translateX(-50%);
      width: 40px;
      height: 18px;
    }
  }
}

.product-card__img {
  @include style-reset;
  width: 100%;
  display: flex;

  @include tablet {
    justify-content: center;
  }

  @include mobile {
    flex-direction: column;
  }

  &--small-1 {
    grid-area: small-1;

    @include mobile {
      display: none;
    }
  }

  &--small-2 {
    grid-area: small-2;

    @include mobile {
      display: none;
    }
  }

  &--small-3 {
    grid-area: small-3;

    @include mobile {
      display: none;
    }
  }

  &--big {
    grid-area: big;
  }
}

.product-card__img img {
  object-fit: cover;
  height: 100%;

  @include mobile {
    width: 100%;
    height: auto;
  }
}

.product-card__info {
  @media (min-width: 1367px) {
    margin-right: auto;
  }

  width: 31.6%;
  display: flex;
  flex-direction: column;
  margin-right: 0;

  @media (max-width: 1250px) {
    width: 35%;
  }

  @include tablet {
    width: 47%;
  }

  @include mobile {
    width: 100%;
  }
}

.product-card__heading {
  @include style-reset;
  @include heading;
  @include style-reset;

  text-align: left;
  margin-bottom: 11px;
}

.product-card__cost {
  @include style-reset;
  font-weight: $regular;
  font-size: 26px;
  line-height: 34px;

  margin-bottom: 38px;

  @include mobile {
    margin-bottom: 27px;
  }
}

.product-card__toggles {
  @include list-reset;

  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 31px;
}

.product-card__toggles label {
  margin-right: 36px;
  cursor: pointer;
}

.product-card__toggles label:last-child {
  margin-right: 0;
}

.product-card__toggles span {
  color: $text-gray;
}

.product-card__toggles input[type="radio"]:hover + span,
.product-card__toggles input[type="radio"]:focus + span {
  @include animation;
  opacity: 0.5;
}

.product-card__toggles input[type="radio"]:active + span {
  @include animation;
  opacity: 1;
}

.product-card__toggles input[type="radio"]:checked + span {
  @include animation;
  color: $text-gray;
  opacity: 1;
}

.product-card__list {
  @include list-reset;

  display: none;
  margin-bottom: 33px;
}

.product-card__item {
  @include style-reset;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $bg-gray;
  padding-bottom: 10px;
  margin-bottom: 11px;
}

.product-card__item span {
  font-size: 14px;
  line-height: 18px;
}

.product-card__item span:last-child {
  font-weight: 400;
}

.product-card__btn {
  margin-bottom: 21px;
  padding-top: 23px;
  padding-bottom: 23px;
}

.product-card__description {
  @include list-reset;
  width: 100%;
  display: none;
  flex-direction: column;
  margin-bottom: 39px;

  @include mobile {
    margin-bottom: 29px;
  }

  &--text {
    margin-bottom: 33px;

    @include tablet {
      margin-bottom: 15px;
    }

    @include mobile {
      margin-bottom: 29px;
    }
  }

  &--active {
    display: flex;
    flex-direction: column;
  }
}

.product-card__description--text p {
  @include style-reset;
  font-size: 14px;
  line-height: 18px;
}

.product-card__guaranty {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-card__guaranty span {
  font-size: 14px;
  line-height: 18px;
  color: $text-gray;
  margin-right: 10px;
  text-align: center;

  @include tablet {
    font-size: 12px;
    line-height: 16px;
  }

  @include mobile {
    width: 67px;
  }
}

.product-card__guaranty span:last-child {
  margin-right: 0;
}
