.products {
  width: 100%;
  overflow: hidden;
}

.products__container {
  @include margin-auto;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: $max-width;
  padding-top: 119px;
  padding-right: $padding-desktop;
  padding-bottom: 60px;
  padding-left: $padding-desktop;

  @include tablet {
    padding-top: 69px;
    padding-right: $padding-tablet;
    padding-bottom: 40px;
    padding-left: $padding-tablet;
  }

  @include mobile {
    padding-top: 59px;
    padding-right: $padding-mobile;
    padding-bottom: 35px;
    padding-left: $padding-mobile;
  }

  &--card {
    padding-top: 48px;
    padding-bottom: 120px;

    @include tablet {
      padding-top: 28px;
      padding-bottom: 66px;
    }
  }
}

.products__heading {
  @include style-reset;
  @include heading;

  margin-bottom: 23px;

  @include tablet {
    margin-bottom: 22px;
  }

  @include mobile {
    margin-bottom: 19px;
  }
}

.products__link-heading {
  @include style-reset;
  @include link;

  line-height: 22px;
  margin-bottom: 60px;

  @include tablet {
    margin-bottom: 52px;
  }

  @include mobile {
    margin-bottom: 41px;
    line-height: 25px;
  }
}

.products__slider {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0 2px;

  @include tablet {
    padding: 0 5px;
  }

  @include mobile {
    padding: 0 15px;
  }
}

.products__list {
  @include list-reset;
  display: flex;
  width: 100%;
  margin-bottom: 46px;

  @include tablet {
    margin-bottom: 38px;
  }

  @include mobile {
    margin-bottom: 32px;
  }
}

.products__list .swiper-slide {
  width: 270px;

  @include tablet {
    width: 324px;
  }

  @include mobile {
    width: 130px;
  }
}

.products__item {
  @include style-reset;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.products__link {
  display: flex;
  flex-direction: column;
  line-height: 0;
  color: $text-black;

  &:hover,
  &:focus {
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    transition: filter 0.5s ease;
  }
}

.products__item img {
  margin-bottom: 20px;

  @include tablet {
    width: 324px;
    height: 340px;
  }

  @include mobile {
    height: auto;
    margin-bottom: 16px;
  }
}

.products__text {
  @include style-reset;

  border-bottom: none;
  margin-bottom: 12px;
  text-align: center;

  @include tablet {
    margin-bottom: 7px;
  }

  @include mobile {
    margin-bottom: 7px;
  }
}

.products__price {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}

.products__pagination {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.products__pagination .swiper-pagination-bullet {
  padding: 6px;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  font-family: $font-family-primary;
  font-weight: $medium;
  font-size: $font-size;
  line-height: $line-height;
  color: $text-gray;

  @include tablet {
    padding: 6px 7px;
  }
}

.products__pagination .swiper-pagination-bullet:hover,
.products__pagination .swiper-pagination-bullet:focus {
  opacity: 0.5;
}

.products__pagination .swiper-pagination-bullet-active {
  color: $text-black;
}

.products__pagination .swiper-pagination-bullet-active:hover,
.products__pagination .swiper-pagination-bullet-active:focus {
  opacity: 1;
}
