.promo {
  width: 100%;
}

.promo__container {
  @include margin-auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: $max-width;
  padding-top: 46px;
  padding-right: $padding-desktop;
  padding-bottom: 60px;
  padding-left: $padding-desktop;
  margin-bottom: 72px;

  @include tablet {
    padding-top: 41px;
    padding-right: $padding-tablet;
    padding-bottom: 42px;
    padding-left: $padding-tablet;
    margin-bottom: 39px;
  }

  @include mobile {
    padding-top: 26px;
    padding-right: $padding-mobile;
    padding-bottom: 35px;
    padding-left: $padding-mobile;
    margin-bottom: 36px;
  }
}

.promo__heading {
  @include style-reset;
  @include heading;

  margin-bottom: 28px;
  letter-spacing: 0.03em;

  @include tablet {
    margin-bottom: 18px;
  }
}

.promo__link {
  @include link;

  margin-bottom: 60px;
  line-height: 27px;

  @include mobile {
    margin-bottom: 45px;
  }
}


.promo__list {
  @include list-reset;

  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(2, auto);
  column-gap: 27px;
  row-gap: 27px;

  @include tablet {
    column-gap: 17px;
    row-gap: 16px;
  }

  @include mobile {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    column-gap: 24px;
    row-gap: 27px;
  }
}

.promo__list-item {
  &--lady {
    grid-row: 1/-1;
    grid-column: 2/4;

    @include tablet {
      width: 230px;
    }

    @include mobile {
      width: auto;
      grid-row: 1/-2;
      grid-column: 2/3;
    }
  }

  &--hand {
    grid-column: 4/5;
    grid-row: 1;

    @include mobile {
      display: none;
    }
  }

  &--two-rings {
    grid-column: 5/-1;
    grid-row: 1;

    @include mobile {
      display: none;
    }
  }
}

.promo__list-item img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.promo__list-item picture {
  line-height: 0;
}
