.user-nav {
  @include list-reset;

  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 35%;

  @include tablet {
    width: 40px;
    margin-top: 7px;
  }
}

.user-nav__item:first-child {
  margin-right: 28px;
}

.user-nav__link {
  display: block;
  padding: 12px 3px;
  font-size: 14px;
  font-weight: $medium;
  line-height: $line-height;
  color: $text-black;

  &:active,
  &:hover {
    @include animation;

    color: $primary-brown;
    opacity: 0.7;
  }

  @include tablet {
    padding-top: 17px;
    padding-right: 0;
    padding-left: 0;
  }
}

.user-nav__item--cart span,
.user-nav__item--login {
  @include tablet {
    display: none;
  }
}

.user-nav__link svg {
  display: none;

  @include tablet {
    display: block;
    fill: transparent;
  }
}
